@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

.panel-container{
}
.panel-information{
    font-family: 'Lato',sans-serif;
    display:inline;
    color: black;
    background-color: royalblue;
}

.title{
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    font-weight: 700;
}

.date
{}

.information{}